<div style="margin-top: 20px; margin-bottom: 20px;">
    <p>
        <a href="https://pl.wikipedia.org/wiki/Mot%C3%B6rhead" target="_blank"> <img src="logo.png" alt="Logo">
        </a>
    </p>

</div>
