<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albumy studyjne Motörhead</title>
</head>
<body>

    <table border="1">
        <thead>
            <tr>
                <th>Nr</th>
                <th>Tytuł</th>
                <th>Data wydania</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Motörhead</td>
                <td>21 sierpnia 1977</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Overkill</td>
                <td>24 marca 1979</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Bomber</td>
                <td>27 października 1979</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Ace of Spades</td>
                <td>8 listopada 1980</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Iron Fist</td>
                <td>17 kwietnia 1982</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Another Perfect Day</td>
                <td>4 czerwca 1983</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Orgasmatron</td>
                <td>9 sierpnia 1986</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Rock 'n' Roll</td>
                <td>5 września 1987</td>
            </tr>
            <tr>
                <td>9</td>
                <td>1916</td>
                <td>26 lutego 1991</td>
            </tr>
            <tr>
                <td>10</td>
                <td>March ör Die</td>
                <td>14 września 1992</td>
            </tr>
            <tr>
                <td>11</td>
                <td>Bastards</td>
                <td>29 listopada 1993</td>
            </tr>
            <tr>
                <td>12</td>
                <td>Sacrifice</td>
                <td>27 marca 1995</td>
            </tr>
            <tr>
                <td>13</td>
                <td>Overnight Sensation</td>
                <td>15 października 1996</td>
            </tr>
            <tr>
                <td>14</td>
                <td>Snake Bite Love</td>
                <td>10 marca 1998</td>
            </tr>
            <tr>
                <td>15</td>
                <td>We Are Motörhead</td>
                <td>15 maja 2000</td>
            </tr>
            <tr>
                <td>16</td>
                <td>Hammered</td>
                <td>9 kwietnia 2002</td>
            </tr>
            <tr>
                <td>17</td>
                <td>Inferno</td>
                <td>22 czerwca 2004</td>
            </tr>
            <tr>
                <td>18</td>
                <td>Kiss of Death</td>
                <td>29 sierpnia 2006</td>
            </tr>
            <tr>
                <td>19</td>
                <td>Motorizer</td>
                <td>26 sierpnia 2008</td>
            </tr>
            <tr>
                <td>20</td>
                <td>The Wörld Is Yours</td>
                <td>14 grudnia 2010</td>
            </tr>
            <tr>
                <td>21</td>
                <td>Aftershock</td>
                <td>18 października 2013</td>
            </tr>
        </tbody>
    </table>

</body>
